{% extends 'base.html' %}


{% block content %}
<h1>{{ title }}</h1> 
    <p>
      Добро пожаловать на наш сайт — пространство, где оживают истории великих личностей! Мы собираем вдохновляющие факты, малоизвестные подробности и увлекательные статьи о людях, изменивших мир. Наша цель — сделать знания доступными и интересными. Читайте, открывайте новое и вдохновляйтесь вместе с нами!
    </p>
 
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Отправить</button></p>
        
</form>

{% endblock %}
