

{% extends 'base.html' %}
{% load women_tags %}

{% block content %}

<ul class="custom-list"> <!-- Добавляем класс 'custom-list' -->
    {% for po in posts %} 
        <li>
        <h2>{{ po.title }}</h2>
        {% autoescape off %}
        {{ po.content|linebreaks|truncatewords:40 }}
        {% endautoescape %}
        <p><a href="{{ po.get_absolute_url }}">Читать пост</a></p>
    </li>
    {% endfor %}
</ul>

<!-- {% include 'women/includes/nav.html' %} -->


<div class="card">
    <h2>Девушки</h2>
    <li>
        <a href="{% url 'home' %}" >Все категории</a>
    </li>
    <h3 >{% show_categories cat_selected %}</h3>
    <p>Известные актрисы</p>
</div>



<div class="cardtwo">
    <h2>Теги</h2>

    <li class="selected" >{% show_all_tags %}</li>
</div>

{% endblock %}
